* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.menu0 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu0__menu1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu0__menu1__A1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0D224E;
}

.menu0__menu2 {
  width: 480px;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.menu0__menu2__A2 {
  text-decoration: none;
  width: 99px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0D224E;
}

.Se__B1 {
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 400px;
}
.Se__B1__B2 {
  width: 480px;
  height: 167px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #0D224E;
}
.Se__B1__B2__B3 {
  width: 448px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #0D224E;
}
.Se__B1__B2__B3__B4 {
  width: 200px;
  height: 54px;
  left: calc(50% - 78px - 499.5px);
  top: 584px;
  background: #EF3959;
  box-shadow: 1px 1px 40px rgba(239, 57, 89, 0.4);
  border-radius: 72px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  border: none;
}

.Se__B2 {
  position: absolute;
  width: 770px;
  height: 617px;
  background: rgba(74, 110, 255, 0.99);
  filter: blur(500px);
}

.Se__C1 {
  position: absolute;
  top: 224px;
  left: calc(50% - 100px + 210px);
}
.Se__C1__C2__C3 {
  margin: -200px 0 0 80px;
  font-size: 48px;
}
.Se__C1__C2__C3__C4 {
  color: red;
  font-size: 30px;
  margin: 0 0 0 80px;
}

.Se__D1 {
  position: absolute;
  width: 96px;
  height: 122px;
  left: calc(50% - 48px + 528px);
  top: 216px;
  background: #4A86FF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Se__D1__D2 {
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  margin: 10px;
}
.Se__D1__D2__D3 {
  margin: 10px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.Se__E1 {
  position: absolute;
  left: calc(50% - 128px + 448px);
  top: 348px;
}
.Se__E1__E2 {
  width: 47px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4A86FF;
  margin: -180px 0 0 100px;
}
.Se__E1__E2__E3 {
  width: 153px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #0D224E;
  margin: 10px 0 10px 60px;
}
.Se__E1__E2__E3__E4 {
  width: 91px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #4A86FF;
  margin: 0 0 0 90px;
}

.Se__F1 {
  position: absolute;
  left: calc(50% - 96px + 288px);
  top: 536px;
}
.Se__F1__F2 {
  width: 184px;
  left: calc(50% - 92px + 286px);
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4A86FF;
  margin: -150px 0 0 20px;
}

.Se__I1 {
  box-sizing: border-box;
  position: absolute;
  width: 160px;
  height: 160px;
  left: calc(50% - 80px + 80px);
  top: 448px;
}
.Se__I1__I2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: #0D224E;
  margin: -140px 0 0 85px;
}
.Se__I1__I2__I3 {
  margin: 0 0 0 65px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #EF3959;
}

.Se__J1 {
  position: absolute;
  margin: 570px 0 0 70px;
  left: calc(50% - 32px + 48px);
  top: 64px;
  transform: rotate(-90deg);
}
.Se__J1__J2 {
  margin: 10px 0 0 -58px;
  position: absolute;
  left: calc(50% - 8px + 53.31px);
  top: 21px;
  transform: rotate(90deg);
}

.Se__K1 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: calc(50% - 32px + 16px);
  top: 638px;
}
.Se__K1__K2 {
  position: absolute;
  left: calc(50% - 8px - 37.31px);
  top: 43px;
  margin: -10px 0 0 50px;
  transform: rotate(-180deg);
}

.Btn {
  width: 760px;
  height: 184px;
  left: calc(50% - 380px - 4px);
  margin: 250px 0 0 185px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}
.Btn__B1 {
  margin: -160px 0 0 400px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0D224E;
}

.Sait {
  margin-top: -80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sait__1 {
  padding: 0 20px 20px 30px;
}
.Sait__1__2 {
  padding: 0 20px 20px 30px;
}
.Sait__1__2__3 {
  padding: 0 20px 20px 30px;
}
.Sait__1__2__3__4 {
  padding: 0 20px 20px 30px;
}
.Sait__1__2__3__4__5 {
  padding: 0 20px 20px 30px;
}
.Sait__1__2__3__4__5__6 {
  padding: 0 20px 20px 30px;
}

.ONE {
  padding: 200px 0 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ONE__menu1 {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.ONE__menu1__A1 {
  width: 640px;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #0D224E;
}
.ONE__menu1__A1__A2 {
  margin: 45px 0 10px 0;
  width: 544px;
  height: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0D224E;
}
.ONE__menu1__A1__A2__A3 {
  width: 151px;
  height: 54px;
  background: #EF3959;
  box-shadow: 0 0 40px rgba(239, 57, 89, 0.4);
  border-radius: 72px;
  border: none;
  font-size: 18px;
  color: white;
}

.ONE__menu1__B1 {
  margin-left: 150px;
  width: 192px;
  height: 192px;
  left: calc(50% - 96px + 288px);
  top: 128px;
  background: #A4C2FF;
  box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  border-radius: 250px;
}
.ONE__menu1__B1__B2 {
  position: absolute;
  margin: 70px 0 0 8px;
  width: 173px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.ONE__menu1__B2 {
  width: 192px;
  height: 192px;
  left: calc(50% - 96px + 192px);
  top: 254px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  backdrop-filter: blur(15px);
  border-radius: 250px;
  margin: -60px 0 0 60px;
}
.ONE__menu1__B2__B3 {
  position: absolute;
  width: 183px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4A86FF;
  margin: 70px 0 0 0;
}

.ONE__menu1__B3 {
  margin: -140px 0 150px 350px;
  width: 160px;
  height: 160px;
  border-radius: 250px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  backdrop-filter: blur(15px);
}
.ONE__menu1__B3__B4 {
  position: absolute;
  margin: 60px 0 0 8px;
  width: 138px;
  height: 44px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #4A86FF;
}

.ONE__menu1__B4 {
  margin: -230px 0 0 170px;
  width: 160px;
  height: 160px;
  background: #4A86FF;
  box-shadow: 10px 10px 20px rgba(74, 134, 255, 0.3);
  border-radius: 250px;
}
.ONE__menu1__B4__B5 {
  margin: 70px 0 0 10px;
  position: absolute;
  width: 148px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.ONE1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ONE1__menu2__A1 {
  width: 639px;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #0D224E;
}
.ONE1__menu2__A1__A2 {
  margin: 30px 0 0 0;
  width: 430px;
  height: 66px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0D224E;
}

.ONE1__menu3__A1 {
  margin: 20px 0 20px 0;
  width: 334px;
  height: 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #4A86FF;
}
.ONE1__menu3__A1__A2 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #A4C2FF;
}
.ONE1__menu3__A1__A2__A3 {
  width: 250px;
  border: 1px solid #A4C2FF;
}
.ONE1__menu3__A1__A2__A3__A4 {
  margin: 40px 0 0 0;
  width: 149px;
  height: 50px;
  background: #EF3959;
  box-shadow: 0 0 40px rgba(239, 57, 89, 0.4);
  border-radius: 72px;
  border: none;
  font-size: 18px;
  color: white;
}

.Rev {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Rev__A1 {
  padding: 150px 0 150px 0;
}
.Rev__A1__A2 {
  width: 448px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #0D224E;
}
.Rev__A1__A2__A3 {
  margin: 50px 0 50px 0;
  width: 350px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0D224E;
}

.Rev__A2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Rev__A2__A3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.Rev__A2__A3__A4 {
  width: 64px;
  height: 64px;
  border: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 15px rgba(74, 134, 255, 0.3);
}
.Rev__A2__A3__A4__A5 {
  margin-top: -42px;
  transform: rotate(180deg);
}

.Rev__A3 {
  display: flex;
  align-items: center;
  margin-top: 22px;
}
.Rev__A3__A4 {
  margin-left: -65px;
}

.Rev__B1 {
  margin: 0 0 0 -150px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.Rev__B1__B2 {
  width: 644px;
  border: 1px solid #4A86FF;
  transform: rotate(90deg);
}
.Rev__B1__B2__B3 {
  margin-left: -120px;
  width: 500px;
  height: 232px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #4A86FF;
}
.Rev__B1__B2__B3__B4 {
  width: 644px;
  height: 0;
  border: 1px solid #4A86FF;
  transform: rotate(90deg);
}
.Rev__B1__B2__B3__B4__B5 {
  margin-left: -120px;
  width: 500px;
  height: 232px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #4A86FF;
}

.Blok__A1 {
  width: 1100px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #0D224E;
  margin: 20px 0 20px 0;
}
.Blok__A1__A2 {
  width: 1500px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #EF3959;
}

.Chois {
  padding-top: 300px;
  width: 640px;
  height: 88px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #0D224E;
}

.Month {
  padding: 200px 0 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Month__A1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 8px;
  gap: 24px;
  width: 250px;
  height: 300px;
  background: rgba(15, 77, 159, 0.2);
  border-radius: 8px;
}
.Month__A1__A2 {
  width: 214px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.Month__A1__A3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
.Month__A1__A3__A4 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.Month__A1__A3__A4__A5 {
  width: 104px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.Month__A1__A3__A4__A5__A6 {
  width: 35px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.Month__A1__B1 {
  width: 92px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  color: #FFFFFF;
}

.Month__A1__C1 {
  width: 151px;
  height: 54px;
  border: 1px solid #EF3959;
  border-radius: 72px;
  color: red;
}

.Month__B1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 8px;
  gap: 24px;
  width: 250px;
  height: 300px;
  background: rgba(15, 77, 159, 0.2);
  border-radius: 8px;
}
.Month__B1__B2 {
  width: 214px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.Month__B1__B3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}
.Month__B1__B3__B4 {
  width: 36px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.Month__B1__B3__B4__B5 {
  width: 96px;
  height: 80px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.Month__B1__B3__B4__B5__B6 {
  width: 35px;
  height: 22px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

.Month__B1__C1 {
  width: 80px;
  height: 24px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: line-through;
  color: #FFFFFF;
}

.Month__C1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 8px;
  gap: 24px;
  width: 250px;
  height: 300px;
  background: rgba(15, 77, 159, 0.2);
  border-radius: 8px;
}
.Month__C1__C2 {
  width: 214px;
  height: 26px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.Month__C1__C3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200px;
}

.FAQ {
  padding-top: 200px;
  width: 136px;
  height: 56px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #0D224E;
}

.img {
  position: absolute;
  width: 422px;
  height: 408px;
  left: calc(50% - 211px + 686px);
  top: 3558px;
  background: rgba(239, 57, 89, 0.8);
  filter: blur(300px);
}

.FAQ__A2 {
  width: -700px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.FAQ__A2__A3 {
  margin: 50px 0 -50px 0;
  width: 550px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #0D224E;
}

.FAQ__B1 {
  margin-left: 1000px;
  position: absolute;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  background: #EF3959;
  border-radius: 250px;
}
.FAQ__B1__B2 {
  width: 150px;
  margin: 65px 0 0 25px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
}

.FAQ__B2 {
  display: flex;
  align-items: center;
  margin: 100px 0 0 -150px;
  width: 170px;
  height: 170px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  border-radius: 250px;
}
.FAQ__B2__B3 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #0D224E;
}

.FMG {
  margin: -200px 100px 0 -400px;
  width: 355px;
  height: 337px;
  left: calc(50% - 177.5px + 412.5px);
  top: 3655px;
  background: #1351d0;
  filter: blur(200px);
}

.OMG {
  margin: 0 0 0 -400px;
  width: 593px;
  height: 512px;
  left: calc(50% - 296.5px - 531.5px);
  top: 4072px;
  background: rgba(74, 110, 255, 0.99);
  filter: blur(300px);
}

.FOT {
  padding: 300px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.FOT__A1 {
  display: flex;
  align-items: center;
}

.FOT__B1 {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.FOT__B1__B2 {
  width: 100px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0D224E;
}

.FOT__F1 {
  margin: 0 0 0 90px;
  width: 335px;
  height: 32px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: black;
}

.burgerMenu1 {
  display: none;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .burgerMenu1 {
    display: block;
  }
  #header .menu0__menu2__A2 {
    display: none;
  }
}
.clickBurger {
  margin-left: 900px;
  position: absolute;
  transition: all 0.5s linear;
}

#click:checked ~ .clickBurger {
  margin-left: -55px;
}

.click-input {
  display: none;
}

.TextClick {
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  width: 160px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: rgba(57, 239, 239, 0.22);
}

.text {
  color: rgba(74, 110, 255, 0.99);
  text-decoration: none;
}

.clickLiner {
  width: 40px;
  height: 3px;
  background: black;
  margin: 4px;
}

#modalWindow1:checked ~ .FAQ__A3 {
  display: block;
  transition: all 2s linear;
}

.FAQ__A3 {
  width: 700px;
  height: 120px;
  background: black;
  position: absolute;
  display: none;
}

#modalWindow2:checked ~ .FAQ__A4 {
  display: block;
}

.FAQ__A4 {
  transition: all 2s linear;
  width: 700px;
  height: 120px;
  background: black;
  position: absolute;
  display: none;
}

#modalWindow3:checked ~ .FAQ__A5 {
  display: block;
}

.FAQ__A5 {
  transition: all 2s linear;
  width: 700px;
  height: 120px;
  background: black;
  position: absolute;
  display: none;
}

#modalWindow4:checked ~ .FAQ__A6 {
  display: block;
}

.FAQ__A6 {
  transition: all 2s linear;
  width: 700px;
  height: 120px;
  background: black;
  position: absolute;
  display: none;
}

#modalWindow5:checked ~ .FAQ__A7 {
  display: block;
}

.FAQ__A7 {
  transition: all 2s linear;
  width: 700px;
  height: 120px;
  background: black;
  position: absolute;
  display: none;
}

#modalWindow6:checked ~ .FAQ__A8 {
  display: block;
}

.FAQ__A8 {
  transition: all 2s linear;
  width: 700px;
  height: 120px;
  background: black;
  position: absolute;
  display: none;
}

/*# sourceMappingURL=style.css.map */
